<!DOCTYPE html>
<html>
<head>

</head>
<body>
<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div>
    <a href='#'>Link</a>
  </div>
  <div>
    <p>hiii</p>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
    $('a').bind('click', function() {
        alert('Unobtrusive!');
    } );
</script>
</body>